---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
import Result from "../components/Result.astro";
import Footer from "~/components/Footer.astro";
---

<Layout
  title="Tutor prompt"
  description="Generador de prompt para adaptar tu IA para que sea un tutor profesional"
>
  <Header />
  <Hero />
  <div class="flex gap-8 justify-between">
    <Form />
    <Result />
  </div>

  <Footer />
</Layout>
