<section class="mt-10 text-white/90 w-1/2">
  <form class="flex flex-col gap-5">
    <label for="">
      Habilidad que quieres mejorar
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Ej: Programación en Python para Data Science"
      />
    </label>
    <div class="flex gap-2">
      <label for="">
        Tiempo Objetivo:
        <input type="text" name="time" id="time" placeholder="Ej: 3 meses" />
      </label>
      <label for="">
        Horas por semana:
        <input type="text" name="hours" id="hours" placeholder="Ej: 10 horas" />
      </label>
    </div>
    <label for="">
      Nivel de meta
      <select name="level" id="level">
        <option value="basico">Basico</option>
        <option selected value="intermedio">Intermedio</option>
        <option value="avanzado">Avanzado</option>
      </select>
    </label>
    <label for="">
      Preferencias de aprendizaje
      <textarea
        name="preferences"
        id="preferences"
        placeholder="Ej: Aprendo mejor con proyectos prácticos, analogías, videos, etc."
      ></textarea>
    </label>
    <label for="">
      Rutina diaria
      <textarea
        name="routine"
        id="routine"
        placeholder="Ej: Puedo estudiar de 7am a 9am entre semana"></textarea>
    </label>
    <label for="">
      KPIs (Key Performance Indicators)
      <input
        type="text"
        name="kpis"
        id="kpis"
        placeholder="Ej: Crear 3 proyectos en para mi portfolio"
      />
    </label>

    <button
      class="bg-blue-400/80 shadow-md shadow-blue-500/50 text-white px-4 py-2 rounded-full cursor-pointer"
      type="submit"
    >
      ✨ Generar prompt</button
    >
  </form>
</section>

<style>
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  input,
  textarea {
    background-color: #333333;
    border-radius: 1.5rem;
    border: 1px solid #4b5563;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  select {
    background-color: #333333;
    border-radius: 1rem;
    border: 1px solid #4b5563;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: #9ca3af;
  }

  input,
  textarea,
  select:focus {
    outline: none;
  }
</style>
