<section
  class="mt-8 p-4 flex flex-col justify-center items-center gap-2 animate-fade-in-up"
>
  <h2 class="text-3xl font-semibold text-white">
    Crea tu plan de aprendizaje personalizado
  </h2>
  <p class="text-zinc-400 font-base max-w-lg text-center">
    Completa los siguientes campos para generar un prompt detallado para tu
    tutor de IA
  </p>
</section>
