---
import Copy from "./icons/Copy.astro";
---

<section class="mt-10 w-1/2 animate-fade-in-down">
  <div
    class="flex bg-[#333333] p-6 rounded-3xl flex-col border-2 border-zinc-700"
  >
    <div class="flex justify-between items-center">
      <p class="text-white text-lg font-semibold">Tu prompt personalizado</p>
      <button
        id="copyButton"
        class="bg-[#374151] flex justify-center items-center px-4 py-2 text-sm rounded-2xl gap-2"
      >
        <Copy class="w-4 h-4" />
        Copiar Prompt
      </button>
    </div>
    <div
      class="text-zinc-400 overflow-auto h-96 whitespace-pre-wrap"
      id="resultado"
    >
      <p class="opacity-50">Tu prompt personalizado aparecerá aquí...</p>
    </div>
  </div>

  <div
    class="bg-zinc-400 text-zinc-900 mt-5 mx-auto hidden p-4 w-fit text-sm rounded-xl"
    id="toast"
  >
    <p>Prompt copiado al portapapeles</p>
  </div>
</section>

<script>
  const copyButton = document.getElementById("copyButton");
  const resultado = document.getElementById("resultado");
  const toast = document.getElementById("toast");

  copyButton?.addEventListener("click", () => {
    navigator.clipboard.writeText(resultado?.textContent || "");
    toast?.classList.remove("hidden");
    toast?.classList.toggle("animate-zoom-in duration-300");
    setTimeout(() => {
      toast?.classList.add("hidden");
    }, 3000);
  });
</script>
